/**/__pycache__/
/**/*.egg-info/
/build/
/dist/
/files/
/gcdata/
/src/greycat/project.py

/*.gcb
/project.gcp

/data
/sandbox.gcl
/tests/sandbox.py

/demo/js/files
/demo/js/gcdata
/demo/js/lib
/demo/js/webroot/web
